* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: jumpisregular;
    src: url(/fonts/jumpispersonaluse-regular.otf);
}
@font-face {
    font-family: jumpisoutline;
    src: url(/fonts/jumpispersonaluse-outline.otf);
}

a{
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 414px) {
 
    .burgercheckbox {
        display: none;
    }
    
    /* Styling af burgerikonet */
    .burgermenu {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        margin: 10px;
    }
    
    .line {
        height: 3px;
        background-color: #ff9000; /* Farve på linjerne */
        margin: 3px 0;
        
    }
    
    /* Styling af menuen */
    .menu {
        display: none;
        background-color: #444140;
        position: absolute;
        top: 90px; 
        right: 0;
        width: 100%;
        text-align: center;
        font-family: jumpisregular;
        color: #468add;
        z-index: 3;
    }

    .menu ul {
        list-style: none;
    }
    
    .menu ul li {
        padding: 15px;
    }
    
    .menu ul li a {
        color: #ff9000;
        text-decoration: none;
        font-size: 18px;
        display: block;
    }
    
    .burgercheckbox:checked + .burgermenu + .menu {
        display: block;
    }
    
        /*dropdown menu styling */ 

        .dropdown {
            position: relative; 
        }
        
        
        .dropdown .content {
            display: none; 
            position: absolute; 
            top: 100%; 
            left: 0; 
            background-color: #468add; 
            list-style: none;
            margin-left: 6.5rem;
            z-index: 10;
            width: 50%; 
        }
        
        
        .dropdown .content li {
            padding: 0.8rem;
        }
        
        .dropdown .content li a {
            color: #ff9000;
            text-decoration: none;
            font-size: 1rem;
        }
        
        
        .dropdown:hover .content {
            display: block; 
        }
    

    body {
        background-color: #444140;
    }
         
    .eventsbaggrund {
        height: 100%;
        width: 100%;
        filter: grayscale(100%);
        position: absolute;
        object-fit: cover;
        z-index: -1;
    }

    .gradientbox {
        background-color:#444140;
        background: linear-gradient(180deg, #ffffff00, #444140);
        z-index: -1;
        width: 100%;
        height: 40%;
        position: absolute;
        margin-top: 8.7rem;
    }
    
    /* logo styling */
    .logobox {
        width: 100%;
        height: 100%;
    }

    .radarlogo {
        height: 10rem;
        width: 10rem;
        position: absolute;
        z-index: 1;
        margin-left: 5rem;
        
    }
    
    .regularadar {
        font-family: jumpisregular;
        position: absolute;
        color: black;
        margin-left: 12.5rem;
        margin-top: 2rem;
        z-index: 2;
        font-size: 4rem;
    }
    .outlineadar {
        font-family: jumpisoutline;
        position: absolute;
        color: #ffffff;
        margin-left: 12.5rem;
        margin-top: 2rem;
        z-index: 2;
        font-size: 4rem;
        font-weight: lighter;
    }

    /* næste show styling*/

    .showbox {
    display: grid;
    }

    .showimagebox {
        margin-top: 10rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .showimage {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border: solid #468add 2px;
    }

    .showtext {
        margin-left: 8.5rem;
        margin-top: 10rem;
        margin-bottom: -6rem;
    }
    
    .regularshow {
        font-family: jumpisregular;
        position: absolute;
        color: #ff9000;
        font-size: 2rem;
        z-index: 2;
        
    }
    
    .outlineshow {
        font-family: jumpisoutline;
        position: absolute;
        font-weight: bolder;
        font-size: 2rem;
    }

    /* koncert styling */
    .koncerterbox {
        display: grid;
    }

    .koncertertext {
        margin-left: 9rem;
        margin-top: 2rem;
        margin-bottom: -6rem;
    }
    
    .regularkoncerter {
        font-family: jumpisregular;
        position: absolute;
        color: #ff9000;
        font-size: 2rem;

        
    }
    
    .outlinekoncerter {
        font-family: jumpisoutline;
        position: absolute;
        font-weight: bolder;
        font-size: 2rem;
    }

     /* soenth styling */

     .soenthbox {
        margin-top: 6rem;
        margin-left: 3rem;
        margin-right: 3rem;
        width: 20rem;
        height: 10rem;
        z-index: 3;
        
    }

    .soenthimage {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border: solid #468add 2px;
    }

    .soenthtext {
        margin-left: 16.2rem;
        margin-top: -2rem;
    }

    .regularsoenth {
        font-family: jumpisregular;
        position: absolute;
        color: #468add;
        font-size: 1.5rem;
    }

    .outlinesoenth {
        font-family: jumpisoutline;
        position: absolute;
        font-size: 1.5rem;
    }

    .soenthsome {
        position: absolute;
        margin-top: -9.8rem;
        margin-left: 0.4rem;
    }

    /* gorgeous styling */

    .gorgeousbox {
        margin-top: 2rem;
        margin-left: 3rem;
        margin-right: 3rem;
        width: 20rem;
        height: 10rem;
    }

    .gorgeousimage {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border: solid #468add 2px;
    }

    .gorgeoustext {
        margin-left: 14.8rem;
        margin-top: -2.3rem;
    }

    .outlinegorgeous {
        font-family: jumpisoutline;
        position: absolute;
        font-weight: bolder;
        font-size: 1.5rem;
    }

    .regulargorgeous {
        font-family: jumpisregular;
        position: absolute;
        color: #468add;
        font-size: 1.5rem;
    }

    .gorgeoussome {
        position: absolute;
        margin-top: -9.8rem;
        margin-left: 0.4rem;
    }
    
    /* baryl styling */

    .barylbox {
        margin-top: 2rem;
        margin-left: 3rem;
        margin-right: 3rem;
        width: 20rem;
        height: 10rem;
    }

    .barylimage {
        width: 100%;
        height: 100%;
         object-fit: fill;
         border: solid #468add 2px;
    }

    .baryltext {
        margin-left: 16.8rem;
        margin-top: -2.2rem;
    }

    .outlinebaryl {
        font-family: jumpisoutline;
        position: absolute;
        font-weight: bolder;
        font-size: 1.5rem;
    }
    
    .regularbaryl {
        font-family: jumpisregular;
        position: absolute;
        color: #468add;
        font-size: 1.5rem;
    }

    .barylsome {
        position: absolute;
        margin-top: -9.8rem;
        margin-left: 0.4rem;
    }

    .spotifylogo {
        height: 2rem;
        width: 2rem;
    }
    .soundcloudlogo {
        height: 2rem;
        width: 2rem;
    }

    /*ungskab styling*/

    .ungskabbox {
        margin-top: 2rem;
        margin-left: 3rem;
        margin-right: 3rem;
        width: 20rem;
        height: 10rem;
        
    }

    .ungskabimage {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border: solid #468add 2px;
    }

    .ungskabtext {
        margin-left: 14.3rem;
        margin-top: -2.1rem;
        position: absolute;
        width: 6rem;
    }

    .regularungskab {
        font-family: jumpisregular;
        position: absolute;
        color: #468add;
        font-size: 1.5rem;
    }

    .outlineungskab {
        font-family: jumpisoutline;
        position: absolute;
        font-size: 1.5rem;
    }

    .ungskabsome {
        position: absolute;
        margin-top: -9.8rem;
        margin-left: 0.4rem;
    }

    .semeretext {
        margin-left: 11rem;
        margin-top: 1rem;
        margin-bottom: -8rem;
    }
    
    .regularsemere {
        font-family: jumpisregular;
        position: absolute;
        color: #ff9000;
        font-size: 1.5rem;
    }

    .outlinesemere {
        font-family: jumpisoutline;
        position: absolute;
        font-size: 1.5rem;
    }

    /*events styling*/

    .eventsbox {
        display: grid;
    }

    .eventstext {
        margin-left: 10.8rem;
        margin-top: 6rem;
        margin-bottom: -8rem;
    }
    
    .regularevents {
        font-family: jumpisregular;
        position: absolute;
        color: #ff9000;
        font-size: 2rem;

        
    }
    
    .outlineevents {
        font-family: jumpisoutline;
        position: absolute;
        font-weight: bolder;
        font-size: 2rem;
    }

    /* dj styling*/

    .djbox {
        margin-top: 10rem;
        margin-left: 3rem;
        margin-right: 3rem;
        width: 20rem;
        height: 10rem;
        
    }

    .djimage {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border: solid #468add 2px;
    }

    .djtext {
        margin-left: 12.8rem;
        margin-top: -2.1rem;
        position: absolute;
        width: 7rem;
    }

    .regulardj {
        font-family: jumpisregular;
        position: absolute;
        color: #468add;
        font-size: 1.5rem;
    }

    .outlinedj {
        font-family: jumpisoutline;
        position: absolute;
        font-size: 1.5rem;
        z-index: 2;
    }

    /*musiclab styling*/

    .musiclabbox {
        margin-top: 2rem;
        margin-left: 3rem;
        margin-right: 3rem;
        width: 20rem;
        height: 10rem;
        
    }

    .musiclabimage {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border: solid #468add 2px;
    }

    .musiclabtext {
        margin-left: 10.5rem;
        margin-top: -2.1rem;
        position: absolute;
        width: 11rem;
    }

    .regularmusiclab {
        font-family: jumpisregular;
        position: absolute;
        color: #468add;
        font-size: 1.5rem;
    }

    .outlinemusiclab {
        font-family: jumpisoutline;
        position: absolute;
        font-size: 1.5rem;
    }

    /*udendoers styling*/

    .udendoersbox {
        margin-top: 2rem;
        margin-left: 3rem;
        margin-right: 3rem;
        width: 20rem;
        height: 10rem;
        
    }

    .udendoersimage {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: solid #468add 2px;
    }

    .udendoerstext {
        margin-left: 9.7rem;
        margin-top: -2.1rem;
        position: absolute;
        width: 10rem;
    }

    .regularudendoers {
        font-family: jumpisregular;
        position: absolute;
        color: #468add;
        font-size: 1.5rem;
    }

    .outlineudendoers {
        font-family: jumpisoutline;
        position: absolute;
        font-size: 1.5rem;
    }

    /*random styling*/

    .randombox {
        margin-top: 2rem;
        margin-left: 3rem;
        margin-right: 3rem;
        width: 20rem;
        height: 10rem;
        
    }

    .randomimage {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: solid #468add 2px;
    }

    .randomtext {
        margin-left: 12rem;
        margin-top: -2.1rem;
        position: absolute;
        width: 10rem;
    }

    .regularrandom {
        font-family: jumpisregular;
        position: absolute;
        color: #468add;
        font-size: 1.5rem;
    }

    .outlinerandom {
        font-family: jumpisoutline;
        position: absolute;
        font-size: 1.5rem;
    }

    .semeretext2 {
        margin-left: 11rem;
        margin-top: 1rem;
        margin-bottom: -8rem;
    }
    
    .regularsemere {
        font-family: jumpisregular;
        position: absolute;
        color: #ff9000;
        font-size: 1.5rem;
    }

    .outlinesemere {
        font-family: jumpisoutline;
        position: absolute;
        font-size: 1.5rem;
    }

    /* footer styling */

    .footerbox {
        display: flex;
        margin-top: 15rem;
    }

    .footerlogo {
        width: 4rem;
        height: 4rem;
        margin-left: 1rem;
    }

    .somelogobox {
        margin-top: 2rem;
        margin-left: 1rem;
        height: 5rem;
        width: 9rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .somelogo {
        height: 2rem;
        width: 2rem;
        margin-right: -0.1rem;
        margin-left: -0.3rem;
    }

    .somelogo2 {
        height: 1rem;
        width: 1rem;
        margin-left: 0.3rem;
        margin-right: 0.3rem;
    }

    .socialh2 {
        font-family: jumpisregular;
        font-size: 1.2rem;
        margin-bottom: -3rem;
        color: #468add;
        margin-left: 2rem;
    }

    .kontaktos {
        font-size: 0.8rem;
        margin-left: 1rem;
    }

    .kontakth2 {
        font-family: jumpisregular;
        color: #468add;
    }

    .kontaktinfo {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }
}

@media screen and (min-width: 415px) and (max-width:1365 ) {

}


 
@media screen and (min-width: 1366px) {

    .burgercheckbox {
        display: none;
    }

        /* Styling af menuen */

        .menu {
            font-family: jumpisregular;
            
        }

        .menu ul {
            display: flex;          
            justify-content: start; 
            padding: 0;             
            margin: 0;     
            list-style: none;   
            
        }
        
        .menu li {
            margin-top: 6rem;
            color: #ff9000;
            font-size: 2rem;
            margin-right: 10rem;     

        }

        .forsidemenupunk {
            margin-left: 23rem;
        }
        .frivilligemenupunkt {
            margin-right: -5rem;
        }
        
        /*dropdown menu styling */ 
    
        .dropdown {
            position: relative; 
         }
            
            
        .dropdown .content {
            display: none; 
            position: absolute; 
            top: 100%;
            left: -7rem;  
            background-color: #468add; 
            list-style: none;
            margin-left: 6.5rem;
            z-index: 10;
            width: 130%; 
            text-align: center;
        }
            
            
        .dropdown .content li {
            padding: 0.8rem;
        }
            
        .dropdown .content li a {
            color: #ff9000;
            text-decoration: none;
            font-size: 1.5rem;
        }
            
            
         .dropdown:hover .content {
            display: block; 
        }

        .dropdownmission{
            margin-top: 0 !important;
        }

        .dropdowngalleri {
            margin-top: 0 !important;
        }

            
    body {
        background-color: #444140;
    }
         
    .eventsbaggrund {
        height: 100%;
        width: 100%;
        filter: grayscale(100%);
        position: absolute;
        object-fit: cover;
        z-index: -1;
    }

    .gradientbox {
        background-color:#444140;
        background: linear-gradient(180deg, #ffffff00, #444140);
        z-index: -1;
        width: 100%;
        height: 40%;
        position: absolute;
        margin-top: -24.6rem;
    }
    
    /* logo styling */
    .logobox {
        width: 100%;
        height: 100%;
    }

    .radarlogo {
        height: 10rem;
        width: 10rem;
        position: absolute;
        z-index: 1;
        margin-left: 5rem;
        margin-top: -6.2rem;
        
    }
    
    .regularadar {
        display: none;
        font-family: jumpisregular;
        position: absolute;
        color: black;
        margin-left: 12.5rem;
        margin-top: 2rem;
        z-index: 2;
        font-size: 4rem;
    }
    .outlineadar {
        display: none;
        font-family: jumpisoutline;
        position: absolute;
        color: #ffffff;
        margin-left: 12.5rem;
        margin-top: 2rem;
        z-index: 2;
        font-size: 4rem;
        font-weight: lighter;
    }



    .showbox {
        display: grid;
    }
    
    .showimagebox {
        margin-top: 3rem;
        margin-left: 3rem;
        margin-right: 3rem;
        padding: 8rem;
    }
    
    .showimage {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border: solid #468add 2px;
    }
    
    .showtext {
        margin-left: 33rem;
        margin-top: 10rem;
        margin-bottom: -5rem;
    }
        
    .regularshow {
        font-family: jumpisregular;
        position: absolute;
        color: #ff9000;
        font-size: 4rem;
        z-index: 2;
            
    }
        
    .outlineshow {
        font-family: jumpisoutline;
        position: absolute;
        font-weight: bolder;
        font-size: 4rem;
    }
    
    .koneventbox {
        display: flex;
        width: 100%;
        height: 100%;
    }

    /* koncert styling */

    .koncerterbox {
        display: grid;
        z-index: 5;
        width: 50%;
        margin-left: 8rem;
        margin-right: 3rem;
            
    }
    
    .koncertertext {
        margin-left: 1rem;
        margin-top: -4rem;
        margin-bottom: -6rem;
    }
        
    .regularkoncerter {
        font-family: jumpisregular;
        position: absolute;
        color: #ff9000;
        font-size: 2rem;
        z-index: 3;    
    }
        
    .outlinekoncerter {
        font-family: jumpisoutline;
        position: absolute;
        font-weight: bolder;
        font-size: 2rem;
        z-index: 3;
    }
    
    .sgbox {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-top: -7rem;
    }

    /* soenth styling */
    
    .soenthbox {
        margin-top: 6rem;
        margin-left: 1rem;
        width: 16rem;
        height: 8rem;
        z-index: 3;
    }
    
    .soenthimage {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border: solid #468add 2px;
    }
    
    .soenthtext {
        margin-left: 12.2rem;
        margin-top: -2rem;
    }
    
    .regularsoenth {
        font-family: jumpisregular;
        position: absolute;
        color: #468add;
        font-size: 1.5rem;
    }
    
    .outlinesoenth {
        font-family: jumpisoutline;
        position: absolute;
        font-size: 1.5rem;
    }
    
    .soenthsome {
        position: absolute;
        margin-top: -7.8rem;
        margin-left: 0.4rem;
    }
    
    /* gorgeous styling */
    
    .gorgeousbox {
            margin-top: 2rem;
            margin-left: 1rem;
            margin-right: 1rem;
            width: 16rem;
            height: 8rem;
            z-index: 3;
        }
    
        .gorgeousimage {
            width: 100%;
            height: 100%;
            object-fit: fill;
            border: solid #468add 2px;
        }
    
        .gorgeoustext {
            margin-left: 10.6rem;
            margin-top: -2.3rem;
        }
    
        .outlinegorgeous {
            font-family: jumpisoutline;
            position: absolute;
            font-weight: bolder;
            font-size: 1.5rem;
        }
    
        .regulargorgeous {
            font-family: jumpisregular;
            position: absolute;
            color: #468add;
            font-size: 1.5rem;
        }
    
        .gorgeoussome {
            position: absolute;
            margin-top: -7.8rem;
            margin-left: 0.4rem;
        }
        
        .bubox {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            margin-top: -1rem;
        }

        /* baryl styling */
    
        .barylbox {
            margin-top: 2rem;
            margin-left: 1rem;
            width: 16rem;
            height: 8rem;
        }
    
        .barylimage {
            width: 100%;
            height: 100%;
             object-fit: fill;
             border: solid #468add 2px;
        }
    
        .baryltext {
            margin-left: 12.8rem;
            margin-top: -2.2rem;
        }
    
        .outlinebaryl {
            font-family: jumpisoutline;
            position: absolute;
            font-weight: bolder;
            font-size: 1.5rem;
        }
        
        .regularbaryl {
            font-family: jumpisregular;
            position: absolute;
            color: #468add;
            font-size: 1.5rem;
        }
    
        .barylsome {
            position: absolute;
            margin-top: -7.8rem;
            margin-left: 0.4rem;
        }
    
        .spotifylogo {
            height: 1rem;
            width: 1rem;
        }
        .soundcloudlogo {
            height: 1rem;
            width: 1rem;
        }
    
        /*ungskab styling*/
    
        .ungskabbox {
            margin-top: 2rem;
            margin-left: 1rem;
            margin-right: 3rem;
            width: 16rem;
            height: 8rem;
            
        }
    
        .ungskabimage {
            width: 100%;
            height: 100%;
            object-fit: fill;
            border: solid #468add 2px;
        }
    
        .ungskabtext {
            margin-left: 10.3rem;
            margin-top: -2.1rem;
            position: absolute;
            width: 6rem;
        }
    
        .regularungskab {
            font-family: jumpisregular;
            position: absolute;
            color: #468add;
            font-size: 1.5rem;
        }
    
        .outlineungskab {
            font-family: jumpisoutline;
            position: absolute;
            font-size: 1.5rem;
        }
    
        .ungskabsome {
            position: absolute;
            margin-top: -7.8rem;
            margin-left: 0.4rem;
        }
    
        .semeretext {
            margin-left: 1rem;
            margin-top: 0.5rem;
            margin-bottom: -8rem;
        }
        
        .regularsemere {
            font-family: jumpisregular;
            position: absolute;
            color: #ff9000;
            font-size: 1.5rem;
        }
    
        .outlinesemere {
            font-family: jumpisoutline;
            position: absolute;
            font-size: 1.5rem;
        }
    
        /*events styling*/
    
        .eventsbox {
            display: grid;
            margin-left: 43rem;
            margin-top: -12rem;
        }
    
        .eventstext {
            margin-left: 28.8rem;
            margin-top: -8rem;
            margin-bottom: -8rem;
        }
        
        .regularevents {
            font-family: jumpisregular;
            position: absolute;
            color: #ff9000;
            font-size: 2rem;
    
            
        }
        
        .outlineevents {
            font-family: jumpisoutline;
            position: absolute;
            font-weight: bolder;
            font-size: 2rem;
        }

        .djmusicbox {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            margin-top: -7rem;
        }
    
        /* dj styling*/
    
        .djbox {
            margin-top: 2rem;
            margin-left: 1rem;
            margin-right: 1rem;
            width: 16rem;
            height: 8rem;
            
        }
    
        .djimage {
            width: 100%;
            height: 100%;
            object-fit: fill;
            border: solid #468add 2px;
        }
    
        .djtext {
            margin-left: 8.8rem;
            margin-top: -2.1rem;
            position: absolute;
            width: 7rem;
        }
    
        .regulardj {
            font-family: jumpisregular;
            position: absolute;
            color: #468add;
            font-size: 1.5rem;
        }
    
        .outlinedj {
            font-family: jumpisoutline;
            position: absolute;
            font-size: 1.5rem;
            z-index: 2;
        }
    
        /*musiclab styling*/
    
        .musiclabbox {
            margin-top: 2rem;
            margin-right: 1rem;
            width: 16rem;
            height: 8rem;
            
        }
    
        .musiclabimage {
            width: 100%;
            height: 100%;
            object-fit: fill;
            border: solid #468add 2px;
        }
    
        .musiclabtext {
            margin-left: 6.5rem;
            margin-top: -2.1rem;
            position: absolute;
            width: 11rem;
        }
    
        .regularmusiclab {
            font-family: jumpisregular;
            position: absolute;
            color: #468add;
            font-size: 1.5rem;
        }
    
        .outlinemusiclab {
            font-family: jumpisoutline;
            position: absolute;
            font-size: 1.5rem;
        }
    
        /*udendoers styling*/
    
        .udendoersbox {
            margin-left: 1rem;
            width: 16rem;
            height: 8rem;
            
        }
    
        .udendoersimage {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border: solid #468add 2px;
        }
    
        .udendoerstext {
            margin-left: 5.7rem;
            margin-top: -2.1rem;
            position: absolute;
            width: 10rem;
        }
    
        .regularudendoers {
            font-family: jumpisregular;
            position: absolute;
            color: #468add;
            font-size: 1.5rem;
        }
    
        .outlineudendoers {
            font-family: jumpisoutline;
            position: absolute;
            font-size: 1.5rem;
        }
    
        /*random styling*/
    
        .randombox {
            margin-left: 1rem;
            margin-right: 1rem;
            width: 16rem;
            height: 8rem;
            
        }
    
        .randomimage {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border: solid #468add 2px;
        }
    
        .randomtext {
            margin-left: 8rem;
            margin-top: -2.1rem;
            position: absolute;
            width: 10rem;
        }
    
        .regularrandom {
            font-family: jumpisregular;
            position: absolute;
            color: #468add;
            font-size: 1.5rem;
        }
    
        .outlinerandom {
            font-family: jumpisoutline;
            position: absolute;
            font-size: 1.5rem;
        }

        .udenranbox {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            margin-top: 1rem;
        }

        .semeretext2 {
        margin-left: 72.3rem;
        margin-top: 0.5rem;
        margin-bottom: -8rem;
        }

        .footerbox {
            display: flex;
            margin-top: 15rem;
            width: 100%;
            margin-bottom: 3rem;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: center;
            margin-left: -5rem;
        }
    
        .footerlogo {
            width: 8rem;
            height: 8rem;
            margin-left: -1rem;
        }
    
        .somelogobox {
            margin-top: 2rem;
            margin-left: 1rem;
            height: 5rem;
            width: 9rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    
        .somelogo {
            height: 5rem;
            width: 5rem;
            margin-right: -0.1rem;
            margin-left: -0.3rem;
        }
    
        .somelogo2 {
            height: 2.5rem;
            width: 2.5rem;
            margin-left: 0.3rem;
            margin-right: 0.3rem;
        }
    
        .socialh2 {
            font-family: jumpisregular;
            font-size: 2rem;
            margin-bottom: -2rem;
            color: #468add;
            margin-left: 0.5rem;
        }
    
        .kontaktos {
            font-size: 1rem;
            margin-left: 1rem;
            line-height: 2rem;
            margin-top: 1rem;
            margin-right: -6rem;
        }
    
        .kontakth2 {
            font-family: jumpisregular;
            color: #468add;
            font-size: 2rem;
            margin-bottom: 0.5rem;
        }
    
        .kontaktinfo {
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
        }

}