* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: jumpisregular;
    src: url(/fonts/jumpispersonaluse-regular.otf);
}
@font-face {
    font-family: jumpisoutline;
    src: url(/fonts/jumpispersonaluse-outline.otf);
}