* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: jumpisregular;
    src: url(/fonts/jumpispersonaluse-regular.otf);
}
@font-face {
    font-family: jumpisoutline;
    src: url(/fonts/jumpispersonaluse-outline.otf);
}
@media screen and (max-width: 414px) {
 
    body {
        background-color: #444140;
        background: linear-gradient(to bottom 80%, #ffffff00, #444140);
    }

    .forsidebaggrund {
        height: 100%;
        width: 100%;
        filter: grayscale(100%);
        position: absolute;
        object-fit: cover;
        z-index: -1;
    }
 
    
    .radarlogo {
        height: 10rem;
        width: 10rem;
        position: absolute;
    }

    .koncerterbox {
        display: grid;
        
    }

    .regularkoncerter {
        font-family: jumpisregular;
        position: absolute;
        color: #ff9000;
        font-size: 2rem;
    }
    
    .outlinekoncerter {
        font-family: jumpisoutline;
        position: absolute;
        font-weight: bolder;
        font-size: 2rem;
    }

    /* soenth styling */

    .soenthbox {
        margin-top: 10rem;
        margin-left: 3rem;
        margin-right: 3rem;
        width: 20rem;
        height: 10rem;
        
    }
    .soenthimage {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border: solid #468add 2px;
    }
    .loerdagtext {
        margin-left: 0.5rem;
        margin-top: -10rem;
    }
    .regularloerdag {
        font-family: jumpisregular;
        position: absolute;
        color: #ff9000;
        font-size: 1.5rem;
    }
    .outlineloerdag {
        font-family: jumpisoutline;
        position: absolute;
        font-weight: bolder;
        font-size: 1.5rem;
    }
    .soenthtext {
        margin-left: 16rem;
        margin-top: 8rem;
    }
    .regularsoenth {
        font-family: jumpisregular;
        position: absolute;
        color: #468add;
        font-size: 1.5rem;
    }
    .outlinesoenth {
        font-family: jumpisoutline;
        position: absolute;
        font-weight: bolder;
        font-size: 1.5rem;
    }

    /* gorgeous styling */

    .gorgeousbox {
        margin-top: 2rem;
        margin-left: 3rem;
        margin-right: 3rem;
        width: 20rem;
        height: 10rem;
    }

    .gorgeousimage {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border: solid #468add 2px;
    }
    .soendagtext {
        margin-left: 0.5rem;
        margin-top: -10rem;
    }
    
    .outlinesoendag {
        font-family: jumpisoutline;
        position: absolute;
        font-weight: bolder;
        font-size: 1.5rem;
    }
    .regularsoendag {
        font-family: jumpisregular;
        position: absolute;
        color: #ff9000;
        font-size: 1.5rem;
    }
    .gorgeoustext {
        margin-left: 15rem;
        margin-top: 8rem;
    }
    .outlinegorgeous {
        font-family: jumpisoutline;
        position: absolute;
        font-weight: bolder;
        font-size: 1.5rem;
    }
    .regulargorgeous {
        font-family: jumpisregular;
        position: absolute;
        color: #468add;
        font-size: 1.5rem;
    }
    
    /* baryl styling */

    .barylbox {
        margin-top: 2rem;
        margin-left: 3rem;
        margin-right: 3rem;
        width: 20rem;
        height: 10rem;
    }
    .barylimage {
        width: 100%;
        height: 100%;
         object-fit: fill;
         border: solid #468add 2px;
    }

    .mandagtext {
        margin-left: 0.5rem;
        margin-top: -10rem;
    }
    .outlinemandag {
        font-family: jumpisoutline;
        position: absolute;
        font-weight: bolder;
        font-size: 1.5rem;
    }
    .regularmandag {
        font-family: jumpisregular;
        position: absolute;
        color: #ff9000;
        font-size: 1.5rem;
    }
    .baryltext {
        margin-left: 17rem;
        margin-top: 8rem;
    }
    .outlinebaryl {
        font-family: jumpisoutline;
        position: absolute;
        font-weight: bolder;
        font-size: 1.5rem;
    }
    .regularbaryl {
        font-family: jumpisregular;
        position: absolute;
        color: #468add;
        font-size: 1.5rem;
    }

 }